<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer HTML</title>
    <link rel="stylesheet" href="/public./css/styles.css">
</head>
<body>
    <h4>soy un H4</h4>
    <h1>El titulo de Nuestro Documento</h1>
    <h2>Un subtitulo cualquiera</h2>

    <img src="/public/images/leia.jpg" alt="Foto Leia">

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto dolor a consequuntur sed illo quia vitae perspiciatis quo ipsam laboriosam magni, hic nemo quam quidem itaque neque nobis sit vel?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam accusamus unde nemo quam, ullam deleniti sit similique et odio! Totam minima magni dolorum tempore cupiditate esse. Similique dolorum veniam esse!</p>

    <ol>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ol>
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>

    <a href="http://www.google.com">Google</a>
    
</body>
</html>